<div class="container">
    <form action="/api/books/add" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="password" placeholder="Password">
<input type="submit">
</form>
</div>