<div class="container">
    <h1>All books</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Password</th>
    </tr>
        {{#each users}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.password}}</td>
            </tr>
        {{/each}}
</table>
<a href="/api/books/add">Add user</a>
</div>